@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,600);
@import url(https://fonts.googleapis.com/css?family=Halant:500);
html { 
  background-image: url("/images/bckgrnd2.jpg"); 
 /* background-image: url("images/bckgrnd.jpg") no-repeat center center fixed;*/ 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  margin:0;
  padding:0;
}
/*////////////// MAIN GRID OF THE PAGE //////////////*/

.wrapper {
  position:fixed;
  top:0;
  top:10%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 80%;
  min-height:100%;
  /*background-color: rgba(205,221,240,0.5);*/
  background-color: rgba(255,255,255,0.5);
   
}

.top-block{
  position: fixed;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 15%;
  background-color: rgba(0,0,0,1)
}

.name{
  position:relative;
  display:table;
  float:left;
  height:100%;
  width:30%;
  /*background-color: yellow;*/
}

.nav{
  position:relative;
  display:table;
  float:left;
  height:100%;
  width:70%;
  /*background-color: green;*/
}

.lower-block{
  position: fixed;
  width: 80%;
  top: 25%;
  margin-left: auto;
  margin-right: auto;
  height: 75%;
}

.social-section{
  position:relative;
  display:inline-block;
  float:left;
  height:100%;
  width:7%;
  /*background-color: red;*/
}
.main-text-section{
  position:relative;
  display:flex;
  float:left;
  height:100%;
  overflow:scroll;
  width:86%;
  justify-content: center;
  /*background-color:blue;*/
}

/*///////// SOCIAL ICONS ////////*/

.social {
  margin-top: 250px;
}

.social img{
  max-width: 100%;
  margin-bottom: 10%;
}

.social img:hover {
-webkit-filter: invert(100%);
}

/*///////// ARTIST ////////*/

.kenji {
  display: table-cell;
  vertical-align: middle;
  font-family: "futura-pt", sans-serif; 
  text-align:center;
  font-size: 35px;
  color: white;
  }

.kenji a { text-decoration: none; color: white; }
.kenji a:visited { text-decoration: none; color: white; }
.kenji a:hover { text-decoration: none; color: white;}
.kenji a:focus { text-decoration: none; color: white; }
.kenji a:hover, .kenji a:active { text-decoration: none; color: white; }

/*///////// NAVIGATION ////////*/
.menu{
  display: table-cell;
  vertical-align: middle;
}

ul{
  float: right;
  width: 80%;
}

li{
  margin: 0;
  display:inline-block;
  width:25%;
  height:10%;
  line-height:200%;
  background-color:black;
  float:left;
  text-align: center;
}


li a{ 
    text-transform: uppercase;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 300;
    position: relative;
    text-decoration: none;
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    }


li a:hover{
  color: white;
}

li a:before
{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*///////// MAIN SECTION //////////*/

/*//////// INDEX /////////*/
#album-art img{
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#listen img{
  position: absolute;
  width:50%;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*//////// ABOUT /////////*/

div.about {
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  font-family: 'Halant', serif;
  font-size: 1.3em;
}

/*//////// MEDIA /////////*/

#player {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}

/*//////// EVENTS /////////*/
#upcoming-event{
  position:absolute;
  display:block;
  min-width: 100%;
}
table{
  display: table;
  border-collapse: collapse;
  text-align: center;
  color: white;
  margin-top: 10%;
  font-family: 'Halant', serif;
  font-size: 1.3em;
}
td{
  display:table-cell;
  padding: 10px;
}
tr{
 background-color: black;
}
#spacer{
  background-color: transparent;
  margin: 100px;
}

/* Style the buttons that are used to open and close the accordion panel */
#collapse{
  display:block;
  width: 100%;
  clear: both;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}


button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}