@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,600);
@import url(https://fonts.googleapis.com/css?family=Halant:500);
html { 
  background-image: url("/images/bckgrnd.jpg"); 
 /* background-image: url("images/bckgrnd.jpg") no-repeat center center fixed;*/ 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  margin:0;
  padding:0;
}
/*////////////// MAIN GRID OF THE PAGE //////////////*/

.wrapper {
  position:fixed;
  top:0;
  top:10%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 80%;
  min-height:100%;
  background-color: rgba(205,221,240,0.5);
  /*background-color: rgba(255,255,255,0.5);*/
   
}

.top-block{
  position: fixed;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 15%;
  background-color: rgba(0,0,0,1)
}

.name{
  position:relative;
  display:table;
  float:left;
  height:100%;
  width:30%;
  /*background-color: yellow;*/
}

.nav{
  position:relative;
  display:table;
  float:left;
  height:100%;
  width:70%;
  /*background-color: green;*/
}

.lower-block{
  position: fixed;
  width: 80%;
  top: 25%;
  margin-left: auto;
  margin-right: auto;
  height: 75%;
}

.social-section{
  position:relative;
  display:inline-block;
  float:left;
  height:100%;
  width:7%;
  /*background-color: red;*/
}
.main-text-section{
  position:relative;
  display:flex;
  height:100%;
  overflow:scroll;
  width:86%;
  justify-content: center;
  /*background-color:blue;*/
}

.main-text-section-media{
  position:relative;
  height:100%;
  overflow:scroll;
  width:86%;
  justify-content: center;
  /*background-color:blue;*/
}

/*///////// SOCIAL ICONS ////////*/

.social {
  margin-top: 250px;
}

.social img{
  max-width: 100%;
  margin-bottom: 10%;
}

.social img:hover {
-webkit-filter: invert(100%);
}

/*///////// ARTIST ////////*/

.kenji {
  display: table-cell;
  vertical-align: middle;
  font-family: "futura-pt", sans-serif; 
  text-align:center;
  font-size: 35px;
  color: white;
  }

.kenji a { text-decoration: none; color: white; }
.kenji a:visited { text-decoration: none; color: white; }
.kenji a:hover { text-decoration: none; color: white;}
.kenji a:focus { text-decoration: none; color: white; }
.kenji a:hover, .kenji a:active { text-decoration: none; color: white; }

/*///////// NAVIGATION ////////*/
.menu{
  display: table-cell;
  vertical-align: middle;
}

ul{
  float: right;
  width: 80%;
}

li{
  margin: 0;
  display:inline-block;
  width:25%;
  height:10%;
  line-height:200%;
  background-color:black;
  float:left;
  text-align: center;
}


li a{ 
    text-transform: uppercase;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 300;
    position: relative;
    text-decoration: none;
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    }


li a:hover{
  color: white;
}

li a:before
{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*///////// MAIN SECTION //////////*/

/*//////// INDEX /////////*/
iframe{
  margin:auto;
}
"play": {background-color: red;}

/*//////// ABOUT /////////*/

div.about {
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  font-family: 'Halant', serif;
  font-size: 1.3em;
}

/*//////// MEDIA /////////*/

#player {
  display: block;
  width: 600px;
  margin: auto;
}

.gallery {
  display: block;
  width: 600px;
  margin: auto;
}
.m-p-g__thumbs img{
  margin-top: 15px;
  margin-right: 5px;
  min-width: 196.6px;
  min-height:131.2305px;
  margin-bottom: 5px;
}
.m-p-g__thumbs img:last-child{
  margin-right:0px;
}
/*//////// EVENTS /////////*/
#upcoming-event{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display:block;
  min-width: 100%;
}
table{
  display: table;
  border-collapse: collapse;
  text-align: center;
  color: white;
  margin-top: 10%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3em;
}
td{
  display:table-cell;
  padding: 10px;
}
tr{
 background-color: black;
}
#spacer{
  background-color: transparent;
  margin: 100px;
}

.collapse{
  position: relative;
  display: table;
}
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    z-index: 0;
    margin-top: 20px; 
    background-color: #484848;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
    cursor: pointer;
    padding:10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    text-align: center;
}

button.accordion.active, button.accordion:hover {
    background-color: #fff;
    color: black;
}
/*
button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: red;
    float: right;
    margin-left: 5px;
}*/
/*
button.accordion.active:after {
    content: '\2796';
    color: blue;
}*/

div.panel {
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}

.panel table {
  margin-top: 20px;
}

.panel table tr {
  background-color: #484848;
}

/*//////// CONTACT /////////*/
#contact-picture{
  display:inline-block;
  float:left;
  margin-top: 10%;
}
#contact-picture img{
  height: 200px;
}
#contact-field{
  margin-top: 10%;
  max-height: 200px;
  line-height:100%;
  width:60%;
  position:relative;
  display:inline-block;
  float:left;
  background-color: black;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
}
#contact-field p{
  margin-left: 10%;
  line-height: 1.5;
}